@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}
.nosotros-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}


.navContainer{
    justify-content: space-between;
    align-items: center;
    padding: 0 11%;

}
.slideContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.buyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buyCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}